* {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: "Helvetica Neue", "Segoe UI", "Noto Sans", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--accent-color);
}

a:hover,
a:active {
  text-decoration: underline;
}

pre,
code {
  font-family: Monaco, "Ubuntu Mono", Inconsolata, Consolas, monospace;
}

pre {
  line-height: 1.4em;

  margin: 20px !important;        // remove ALL outside spacing
  padding: 0 !important;       // remove ALL inside spacing
}

pre > code {
  margin: 0 !important;        // remove internal margin
  padding: 16px !important;       // remove internal padding
  display: block !important;
}


strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.container {
  padding: 1rem;
  margin: 0 auto;
  max-width: 800px;
}

.skip-to-content-link {
  padding: 0.5rem 1rem;
  position: absolute;
  transform: translateY(-100%);
  background: var(--background-color);

  &:focus {
    transform: translateY(0%);
  }
}


.copy-code-button {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 0;
  font-size: 12px;

  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;

  cursor: pointer;
}

.copy-code-button span {
  font-size: 16px;
  background: transparent !important;
}
