<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/"><img class="site-logo" src="{{ site.baseurl }}/resources/logo.svg" alt="" /> {{ site.title }}</a>
    <p class="site-description">{{ site.short_description }}. Latest version: <strong>{{ site.helmet_version }}</strong></p>
  </div>

  <nav class="site-nav">
    <div class="wrapper">
      <a class="page-link" href="{{ '/docs' | prepend: site.baseurl }}">Docs</a>
      <a class="page-link" href="{{ '/contributors' | prepend: site.baseurl }}">Contributors</a>
      <a class="page-link" href="{{ '/see-also' | prepend: site.baseurl }}">See also</a>
      <a class="page-link" href="https://www.npmjs.com/package/helmet" target="_blank" rel="noreferrer noopener">npm</a>
      <a class="page-link" href="https://github.com/helmetjs/helmet" target="_blank" rel="noreferrer noopener">GitHub</a>
    </div>
  </nav>
</header>
