/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.callout,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
    line-height: $base-line-height;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

p img {
    border: 3px solid $grey-color;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

h3 {
    color: $grey-color-dark;
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: $brand-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Tables
 */

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

tr {
    border-top: 1px solid $grey-color-light;
}

th, td {
    padding: 1em;
    border: 1px solid $grey-color-light;
}


/**
 * Code formatting
 */
pre,
code {
    font-family: $code-font-family;
    font-size: 18px;
    border: 1px solid $grey-color-light;
    background-color: $code-background-color;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    white-space: pre-wrap;
    word-wrap: break-word;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Callouts
 */

.callout {
    padding: 1em;
    color: $warning-color-dark;
    border: 1px solid $warning-color-dark;
    background-color: $warning-color-light;
    box-shadow: 0 0 2px $warning-color-dark;
}

/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
